- 힌트 과목과 점수를 리스트에 저장 받으세요
- 딕셔너리 보다는 리스트 추천
```
국어:점수
영어:점수
수학:점수
.
.
.
등을 입력했을 경우 평균을 내어주는 함수를 작성해보시오.
(과목의 제한은 없다.)

과목: 수학
점수: 20
추가 하실 건가요?
    예 or 아니오 : 예
과목: 국어
점수: 50
추가 하실 건가요?
    예 or 아니오 : 아니오
수학 : 20
국어 : 50
평균 : 35
```

In [1]:


def average(scores):
    result = sum(scores)/len(scores)
    return result


subs = [] # while 문안에 있으면 계속 초기화 된다.
scores = [] # 계속 초기화

while True:
    user_sub = input("과목을 입력 하세요 : ")
    subs.append(user_sub)
    user_score = int(input("점수를 입력 하세요 : "))
    scores.append(user_score)
    user_input = input("계속 추가 하실 건가요? (예 or 아니요) ")
    if user_input == "예":
        print(subs)
        print(scores)
    else:
        print(f"평균 : {average(scores)}")
        break

과목을 입력 하세요 :  수학
점수를 입력 하세요 :  100
계속 추가 하실 건가요? (예 or 아니요)  아니요

평균 : 100.0

In [13]:
scores = [100, 70, 50]
def average(scores):
    result = sum(scores)/len(scores)
    return result

In [14]:
average(scores)

TypeError: 'int' object is not callable

In [10]:
scores = [100, 70, 50]
sum = 0
for score in scores:
    sum += score
sum / len(scores)

73.33333333333333

In [2]:
def average(scores):
    result = sum(scores)/len(scores)
    return result

def main():
    subs = [] # while 문안에 있으면 계속 초기화 된다.
    scores = [] # 계속 초기화
    
    while True:
        user_sub = input("과목을 입력 하세요 : ")
        subs.append(user_sub)
        user_score = int(input("점수를 입력 하세요 : "))
        scores.append(user_score)
        user_input = input("계속 추가 하실 건가요? (예 or 아니요) ")
        if user_input == "예":
            for sub, sco in zip(subs, scores):
                print(f"{sub} : {sco}")
        else:
            print(f"평균 : {average(scores)}")
            break

In [3]:
main()

과목을 입력 하세요 :  수학
점수를 입력 하세요 :  100
계속 추가 하실 건가요? (예 or 아니요)  예

수학 : 100

과목을 입력 하세요 :  체육
점수를 입력 하세요 :  90
계속 추가 하실 건가요? (예 or 아니요)  예

수학 : 100
체육 : 90

과목을 입력 하세요 :  국어
점수를 입력 하세요 :  50
계속 추가 하실 건가요? (예 or 아니요)  아니요

평균 : 80.0

# 람다 함수
- 이름 없는 한 줄 짜리 함수
- 일반 함수와의 차이
    - 일반 함수는 함수를 정의하고 함수를 인수로 전달 가능
    - 람다 함수는 정의와 동시에 함수 객체로 사용한다.
```
lambda <인수들> : <반환할 식>
```

In [7]:
lam_1 = lambda x,y : x+y

In [8]:
lam_1(1,2)

3

# map 함수, fileter 함수
- 함수를 매개변수로 전달 하는 함수이다.
- map()
    - 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성해주는 함수
```
map(<function>, <list>)
```

In [9]:
list_input_a = [1,2,3,4,5]

In [10]:
def power(items):
    return items * items

In [11]:
map_output = map(power, list_input_a)

In [12]:
print(map_output)

<map object at 0x00000197208FD5D0>

In [13]:
type(map_output)

map

In [14]:
list(map_output)

[1, 4, 9, 16, 25]

In [15]:
[power(num) for num in list_input_a]

[1, 4, 9, 16, 25]

In [16]:
map_output_1 = map(lambda x : x * x , list_input_a)

In [17]:
list(map_output_1)

[1, 4, 9, 16, 25]

In [21]:
# 람다 함수를 사용해 문자열 길이로 리스트를 정렬 하는 예
words = ["apple", "banana", "cherry", "date"]
# sorted()

In [23]:
sorted(words)

['apple', 'banana', 'cherry', 'date']

In [24]:
sorted_words = sorted(words, key=lambda x: len(x))

In [25]:
sorted_words

['date', 'apple', 'banana', 'cherry']

# filter 함수
- 리스트의 요소를 함수에 넣고 리턴된 값이 True 인 것으로 구성된 새로운 리스트를 반환한다.
```
filter(<함수>, <리스트>)
```

In [27]:
filter_list = [1,2,3,4,5,6,7,8,9]

In [28]:
filter_output = filter(lambda x: x<4, filter_list)

In [41]:
filter?

Init signature: filter(self, /, *args, **kwargs)
Docstring:
filter(function or None, iterable) --> filter object

Return an iterator yielding those items of iterable for which function(item)
is true. If function is None, return the items that are true.
Type:           type
Subclasses:

In [30]:
list(filter_output)

[1, 2, 3]

In [31]:
# 람다 함수를 사용해 리스트에서 짝수만 필터링 하도록 만들어 보세요
# 리스트는 1부터 10까지 
filter_even = filter(lambda x: x % 2 == 0, filter_list)

In [33]:
list(filter_even)

[2, 4, 6, 8]

In [34]:
# case 1
# 11. 다음 코드의 실행 결과를 쓰시오.
# 재할당과 동시에 local val 이 된다. 
def test(x, y):
    tmp = x
    x = y
    y = tmp
    return y.append(x) # -> None

x = ["y"]
y = ["x"]
test(x, y)
print(y)

['x']

In [35]:
# case 2
# global val 을 그대로 변경
def test(x, y):
    return y.append(x) # -> None

x = ["y"]
y = ["x"]
test(x, y)
print(y)

['x', ['y']]

# 데코레이터
- 특정 함수가 실행되기 전에 (공통으로)수행해야 하는 함수를 미리 지정해 놓는다. 
- 예) 로그인 기능 
- 관리자 페이지 www.google.com/admin

```python
def decorator_func(origin_func):
    def wrapper_func(*args, **kwargs):
        # 데코레이터가 적용 함수 호출 전에 수행 할 작업
        result = origin_func(*args, **kwargs)
        # 데코레이터가 적용될 함수 호출 후에 수행할 작업
        return result
    return wrapper_func
```

In [52]:
users = {
    "user1" : "password1", 
    "user2" : "password2",
    "user3" : "password3", 
}
current_user = None

# 로그인 함수 구현 
# global 의 current_user 을 확인하고 패스워드가 동일 하다면 username 으로 변경 되는 함수 
def login(username, password):
    global current_user # current_user 함수 밖에 정의된 변수
    if username in users and users[username] == password:
        current_user = username
        print(f"{current_user} 님이 로그인 했습니다.")

def logout():
    global current_user
    if current_user: # None 이 아닌 값이 있다.
        print(f"{current_user} 님이 로그아웃 했습니다.")
        current_user = None
    else:
        print("로그인 상태가 아닙니다.")

In [55]:
login("user1", "password1")
print(current_user)

user1 님이 로그인 했습니다.
user1

In [56]:
logout()
print(current_user)

user1 님이 로그아웃 했습니다.
None

In [57]:
current_user = None
logout()

로그인 상태가 아닙니다.

In [51]:
# bool(None)

False

In [59]:
def login_required(func):
    def wrapper(*args, **kwargs):
        if current_user is None:
            print("로그인이 필요 합니다.")
        else:
            func(*args, **kwargs)
    return wrapper

In [60]:
@login_required
def view_profile():
    print(f"{current_user} 의 프로필 페이지")

In [61]:
view_profile()

로그인이 필요 합니다.

In [62]:
# 로그인 시도 -> view profile -> logout
login("user1", "password1")
view_profile()
logout()

user1 님이 로그인 했습니다.
user1 의 프로필 페이지
user1 님이 로그아웃 했습니다.

In [63]:
# 로그인 시도 -> view profile -> logout
login("user1", "passwor1")
view_profile()
logout()

로그인이 필요 합니다.
로그인 상태가 아닙니다.

# 변수의 유효 범위
- 변수가 어느 범위에서 유효한지를 나타냄
- 함수 내부에서 정의된 변수 local 변수
- 함수 외부에서 정의되면 해당 모듈 Global 변수가 된다.
- local 변수 : 해당 정의된 함수에서만 사용 가능
- global 변수 : 코드의 모든 범위에서 사용 가능

# 재귀 함수 
- 재귀 함수 란 뭔가요?
```
n! = n * (n-1) * (n-2) * (n-3) * ... * 3 * 2 * 1
   = n * (n-1)!
(n-1)! = (n-1) * (n-2) * (n-3) * ... * 3 * 2 * 1
       = (n-1) * (n-2)!
...
(2)! = 2 * 1
     = 2 * 1!
(1)! = 1 * 0!
(0)! = 1
```

In [64]:
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

In [67]:
factorial(5)

120

In [73]:
def factorial_1(n):
    result = 1
    for i in range(n, 0, -1):
        result *= i
    return result

In [74]:
factorial_1(5)

120

In [75]:
# n! = n * (n-1) * (n-2) * (n-3) * ... * 3 * 2 * 1 = n * (n-1)!
# n! = n * (n-1)!
# 단, 0! = 1 이라고 하기로 한다. 
# 

def factorial_3(n):
    if n == 0:
        return 1
    else:
        return n * factorial_3(n-1)

In [76]:
factorial_3(5)

120

# 1부터 n까지의 합을 구하는 함수를 만들어 보세요 
```
sig(n) = n + (n-1) + (n-2) + (n-3) + ... + 2 + 1 = n + sig(n-1)
sig(n-1) = n-1 + sig(n-2)
...
sig(2) = 2 + 1
sig(1) = 1
```

# x^n 을 구하는 함수를 만들어 보세요
```
pow(x^n) = x * x * ... * x = x * pow(x^n-1)
pow(x^n-1) = x * pow(x^n-2)
pow(x^2) = x * pow(x^1)
pow(x^1) = x
```

In [78]:
def sig(n):
    if n == 1:
        return 1
    else:
        return n + sig(n-1)

In [79]:
sig(10)

55

In [80]:
def power(x, n):
    if n == 1:
        return x
    else:
        return x * power(x, n-1)

In [81]:
power(2, 10)

1024

In [82]:
def power_(x, n):
    if n == 0:
        return 1
    else:
        return x * power(x, n-1)

In [83]:
power(2,10)

1024

# 최대 공약수 계산기
```
15와 12의 최대 공약수는?
15        12
15%12     12
12         3
12 % 3     3
3          0
최대 공약수는 3이다.
```
- 숫자 m,n
- 경우1 : m < n
    - m 과 n 의 위치를 바꿔준다.
- 경우2 : m >= n
    - m 에서 n을 나눠 나머지만 갖고온다.
    - m 에서 n을 나눠 나머지가 0일때 까지 반복 한다.(탈출 조건) -> n을 반환 하고 탈출

```
16        21
21        16
21%16     16
16         5
16%5       5
5          1
5%1        1
1          0
```
1을 반환 하고 종료

In [84]:
def gcd(m, n):
    if m < n :
        m, n = n, m
    if m%n == 0:
        return n
    else:
        return gcd(n, m%n)

In [85]:
gcd(5, 10)

5

In [86]:
gcd(15, 12)

3

In [87]:
gcd(16, 21)

1

- 1, 1, 2, 3, 5, 8, 13, 21, ...
- fibo 탈출 조건은? n = 1, n =2
- fibo 탈출이 안된다면? fibo(n-2) + fibo(n-1) = fibo(n)
- fibo(5) = fibo(4) + fibo(3)
- fibo(4) = fibo(3) + fibo(2)
- fibo(3) = fibo(2) + fibo(1)

# 구현

In [88]:
def fibo(n):
    if n <= 0:
        return 0 
    if n == 1 or n == 2:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

In [95]:
fibo(10)

55

In [96]:
counter = 0 

def fibo(n):
    global counter
    counter += 1
    print(f"fibo {n}을 구합니다.")
    if n <= 0:
        return 0 
    if n == 1 or n == 2:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

In [98]:
fibo(10)

fibo 10을 구합니다.
fibo 9을 구합니다.
fibo 8을 구합니다.
fibo 7을 구합니다.
fibo 6을 구합니다.
fibo 5을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 5을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 6을 구합니다.
fibo 5을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 7을 구합니다.
fibo 6을 구합니다.
fibo 5을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 5을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 8을 구합니다.
fibo 7을 구합니다.
fibo 6을 구합니다.
fibo 5을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 5을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 6을 구합니다.
fibo 5을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 4을 구합니다.
fibo 3을 구합니다.
fibo 2을 구합니다.
fibo 1을 구합니다.
fibo 2을 구합니다.

55

In [99]:
counter

118

In [100]:
#메모화
counter = 0 
fibo_dict={1:1, 2:1}

def fibo_memo(n):
    global counter
    counter += 1
    if n <= 0:
        return 0 
    if n in fibo_dict:
        return fibo_dict[n] # 메모 되어 있는 값을 리턴
    else:
        result = fibo_memo(n-1) + fibo_memo(n-2) # 메모 되어 있지 않는 값을 구함
        fibo_dict[n] = result
        return result

In [101]:
fibo_memo(10)

55

In [102]:
counter

17

In [104]:
# 하노이의 탑

# 심즈 캐릭터 (class)
- 성별 : 여자
- 얼굴모양 : 갸름한
- 몸무게 : 50
- 눈크기 : 크다
- 콧날 : 높은편
- 키 : 165
- 이름 : 차은우

- -> 생성 -> 오민엽(instance)
- -> 생성 -> 차은우(instance)
- -> 생성 -> 김태리(instance)

## 객체 
- 메모리에 올라가면 객체다.
- 파이썬에서는 객체(object) 단위로 메모리 위의 정보를 관리
- 객체는 value, type, id 세가지 특성을 갖어야 한다.

## instance
- 객체가 어떤 클래스에 속할때, 그 객체를 그 클래스의 인스턴스라고 한다.
- 클래스에 의해 생성된 객체

In [105]:
a_1 = "hello" # 객체를 만들어서 변수에 대입

In [107]:
a_1 #객체의 value

'hello'

In [108]:
type(a_1) # 객체의 유형을 구할수 있다.

str

In [109]:
id(a_1) # 객체의 고유 번호를 구할 수 있다

1748576363440

In [110]:
a_2 = "hello"

In [111]:
id(a_1)

1748576363440

In [112]:
id(a_2)

1748576363440

In [113]:
a_1 is a_2

True

In [114]:
a_3 = 258
a_4 = 258

In [115]:
id(a_3)

1748674777424

In [116]:
id(a_4)

1748674777392

In [117]:
a_3 is a_4

False

In [120]:
# 명함을 제작하는 회사를 창업
# 이름, 이메일, 주소
name_1 = "오민엽"
email_1 = "myoh0623@gmail.com"
add_1 = "seoul"

def print_business_card(name, email, add):
    print("="*30)
    print(f"Name : {name}")
    print(f"E-mail : {email}")
    print(f"Add : {add}")
    print("="*30)

In [121]:
print_business_card(name_1, email_1, add_1)

==============================
Name : 오민엽
E-mail : myoh0623@gmail.com
Add : seoul
==============================

In [123]:
name_2 = "성시경"
email_2 = "tjdtlrud@gmail.com"
add_2 = "seoul"
print_business_card(name_2, email_2, add_2)

==============================
Name : 성시경
E-mail : tjdtlrud@gmail.com
Add : seoul
==============================

- 회원수가 계속 늘어난다면 변수명을 계속 추가해야할까?
- 리스트에 추가 한다.
```
name_list = [name1, name2, name3, ...]
email_list = [email1, email2, email3, ...]
add_list = [add1, add2, add3, ...]
```

In [124]:
class BussinessCard:
    pass

In [125]:
member_1 = BussinessCard()

In [126]:
member_1

In [127]:
member_2 = BussinessCard()

In [128]:
member_2

In [129]:
print(type(member_2))
print(id(member_2))

<class '__main__.BussinessCard'>
1748670783120

In [149]:
class BussinessCard:
    def set_info(self, name, email, add):
        self.name = name
        self.email = email
        self.add = add
    def print_business_card(self):
        print("="*30)
        print(f"Name : {self.name}")
        print(f"E-mail : {self.email}")
        print(f"Add : {self.add}")
        print("="*30)

In [150]:
member3 = BussinessCard()

In [151]:
member3.set_info(name_1, email_1, add_1)

In [152]:
member3.add

'seoul'

In [153]:
member3.print_business_card()
# ==============================
# Name : 오민엽
# E-mail : myoh0623@gmail.com
# Add : seoul
# ==============================

==============================
Name : 오민엽
E-mail : myoh0623@gmail.com
Add : seoul
==============================

In [158]:
# 학생 정보를 입력 받는 class 를 만들어 보세요
# 이름, 국어점수, 수학점수를 입력받고 다음과 같이 출력 가능 

# 이름 : 오민엽
# 국어 : 80
# 수학 : 100
# 총점 : 180
# 평균 : 90

class Student:
    def set_info(self, name, korean, math):
        self.name = name
        self.korean = korean
        self.math = math
        
    def get_sum(self):
        return self.korean + self.math

    def get_average(self):
        return self.get_sum()/2

    def print_string(self):
        print(f'''
        이름 : {self.name}
        국어 : {self.korean}
        수학 : {self.math}
        총점 : {self.get_sum()}
        평균 : {self.get_average()}
        ''')

In [159]:
student_1 = Student()

In [160]:
student_1.set_info("오민엽", 100, 90)

In [161]:
student_1.print_string()

        이름 : 오민엽
        국어 : 100
        수학 : 90
        총점 : 190
        평균 : 95.0

In [172]:

class Student:
    def set_info(self, name, **subjects):
        self.name = name
        self.subjects = subjects

    def get_sum(self):
        return sum(self.subjects.values())

    def get_average(self):
        return self.get_sum()/len(self.subjects)

    def print_string(self):
        subject_socre = "\n".join([f"{subject} : {score}" for subject, score in self.subjects.items()])
        print(f'''
이름 : {self.name}
{subject_socre}
총점 : {self.get_sum()}
평균 : {self.get_average()}
        ''')

In [173]:
student_2 = Student()

In [174]:
student_2.set_info("오민엽", 수학=90, 영어=80, 과학=100)

In [175]:
student_2.print_string()

이름 : 오민엽
수학 : 90
영어 : 80
과학 : 100
총점 : 270
평균 : 90.0

In [176]:
# __init__ : 생성자는 인스턴스 객체가 생성될때 초기화를 위해 자동으로 호출되는 메서드
# __del__ : 메모리에서 제거 될때 자동으로 호출되는 메서드 
class Student:
    def __init__(self, name, **subjects):
        self.name = name
        # print("응애에요")
        self.subjects = subjects

    def get_sum(self):
        return sum(self.subjects.values())

    def get_average(self):
        return self.get_sum()/len(self.subjects)

    def print_string(self):
        subject_socre = "\n".join([f"{subject} : {score}" for subject, score in self.subjects.items()])
        print(f'''
이름 : {self.name}
{subject_socre}
총점 : {self.get_sum()}
평균 : {self.get_average()}
        ''')

In [178]:
student_3 = Student("오민엽", 수학=90, 영어=80, 과학=100)

응애에요

In [179]:
student_3.print_string()

이름 : 오민엽
수학 : 90
영어 : 80
과학 : 100
총점 : 270
평균 : 90.0

In [181]:
class Student:
    def __init__(self, name, **subjects):
        self.name = name
        # print("응애에요")
        self.subjects = subjects

    def add_score(self, subject, score):
        self.subjects[subject] = score

    def get_sum(self):
        return sum(self.subjects.values())

    def get_average(self):
        return self.get_sum()/len(self.subjects)

    def print_string(self):
        subject_socre = "\n".join([f"{subject} : {score}" for subject, score in self.subjects.items()])
        print(f'''
이름 : {self.name}
{subject_socre}
총점 : {self.get_sum()}
평균 : {self.get_average()}
        ''')

In [182]:
student_4 = Student("오민엽", 수학=90, 영어=80, 과학=100)

In [183]:
student_4.add_score("체육", 100)

In [184]:
student_4.print_string()

이름 : 오민엽
수학 : 90
영어 : 80
과학 : 100
체육 : 100
총점 : 370
평균 : 92.5

In [212]:
# class 의 상속
class Aniaml():
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def sounds(self):
        # 하위 class 에서 정의
        pass
    def hunting(self):
        self.sounds()

In [220]:
class Dog(Aniaml):
    def __init__(self, name, age):
        super().__init__(name, age)
        self.walk = True
    def sounds(self):
        print("멍멍")
    def groups(self):
        print("사냥을 시작.")

class Cat(Aniaml):
    def __init__(self, name, age):
        super().__init__(name, age)
        self.walk = False
    def sounds(self):
        print("야옹")
    def alone(self):
        print("혼자 사냥을 시작한다.")

In [221]:
hi_1 = Dog("hi_1", 10)

In [222]:
hi_1.sounds()

멍멍

In [223]:
hi_1.hunting()

멍멍

In [196]:
hi_1.groups()

사냥을 시작.

In [197]:
li_1 = Cat("li_1", 10)

In [198]:
li_1.sounds()

야옹

In [199]:
li_1.walk

False

In [200]:
li_1.alone()

혼자 사냥을 시작한다.