# if 문
```python
if <조건>:
    <상태1>
    <상태2>
else:
    <상태3>
    <상태4>
```

In [5]:
# money = True
money = False
if money:
    print("택시를 타고 간다")
else:
    print("걸어간다")

print("도착했다")

걸어간다
도착했다

In [9]:
# money = True
money = False
if money:
 print("택시를 타고 간다")
  print("들여쓰기 2칸")
else:
  print("걸어간다")

print("도착했다")

IndentationError: unexpected indent (2167587169.py, line 5)

In [10]:
# score 라는 변수에 점수를 입력받고
# 90점 이상일때만 합격이라고 출력되는 코드를 작성해 보세요

# 점수를 입력하세요 : 90
# 90 점의 점수로 합격입니다.

# 점수를 입력하세요 : 89
# 89 점의 점수로 불합격 입니다.

In [17]:
score = input("점수를 입력하세요 :")

점수를 입력하세요 : 89

In [18]:
boole = int(score) >= 90

In [20]:
if boole:
    print(f"{score}점의 점수로 합격 입니다.")
else:
    print(f"{score}점의 점수로 불합격 입니다.")

89점의 점수로 불합격 입니다.

In [22]:
score = input("점수를 입력하세요 :")
boole = int(score) >= 90
if boole:
    print(f"{score}점의 점수로 합격 입니다.")
else:
    print(f"{score}점의 점수로 불합격 입니다.")

점수를 입력하세요 : 80

80점의 점수로 불합격 입니다.

In [25]:
if 0:
    print("true")
else:
    print("false")

false

In [26]:
if 1:
    print("true")
else:
    print("false")

true

# condition
- 비교 연산자
    - <, >, ==, !=, >=, <= 
- 논리 연산자
    - and, or, not
    - and : 둘다 참이면 참이다. (하나라도 거짓이면 거짓이다) -> 교집합 연산
    - or : 둘중에 하나만 참이어도 참이다. (둘다 거짓이면 거짓이다.) ->  합집합 연산
    - not : x 가 거짓(참) 이면 참(거짓) 이다.

In [30]:
(True and True)

True

In [31]:
(True and False)

False

In [32]:
(False or False)

False

In [7]:
# 숫자를 입력 받고 
# 15 이상, 20 이하면 정상입니다.
# 15 <= x <= 20
# 15 미만, 20 초과 이면 비정상 입니다. 를 출력하게 작성해 보세요
x = int(input("값을 입력하세요"))
condition = (15 <= x) and (x <= 20) # (15 <= x <= 20)

if condition:
    print("정상 입니다.")
else:
    print("비정상 입니다.")

값을 입력하세요 20

정상 입니다.

# if ~ elif ~ else
```
if <condition>:
    <수행할 문장1>
    <수행할 문장2>
elif <condition>:
    <수행할 문장3>
    <수행할 문장4>
elif <condition>:
    <수행할 문장5>
    <수행할 문장6>
else:
    <수행할 문장7>
    <수행할 문장8>
```

In [8]:
n = 12
if n > 5:
    print("condition1")
elif n > 10:
    print("condition2")
elif n > 15:
    print("condition3")

condition1

In [9]:
n = 12
if n > 5:
    print("condition1")
if n > 10:
    print("condition2")
if n > 15:
    print("condition3")

condition1
condition2

In [12]:
# 가위 바위 보 게임 
# srp 라는 변수에 srp = "가위" 일 경우 "이겼다" 를 출력 하도록 만들어 보세요
# srp = "바위" 인 경우 "졌다" 출력
# srp = "보" 인경우 "비겼다" 출력

srp = input("가위 바위 보")
if "가위" == srp:
    print("이겼다")
elif "바위" == srp:
    print("졌다")
elif "보" == srp:
    print("비겼다")

가위 바위 보 보

비겼다

In [15]:
srp = input("가위 바위 보")
if srp == "가위":
    print("이겼다")
elif srp == "바위":
    print("졌다")
elif srp == "보":
    print("비겼다")

가위 바위 보 보

비겼다

# 점수를 입력 받고 학점이 출력되도록 만들어 보세요
- 숫자를 입력 받아야 합니다. ( str.isdigit()  확인) 
- 90점 이상 A, 90점 미만 80점 이하 B, 80점 미만 70점 이상 C, 70점 미만 60점 이상 D, 60점 미만 F

In [32]:
score = input("점수를 입력 하세요")
if score.isdigit():
    score = float(score)
    if score > 100:
        print("올바른 점수를 입력하세요")
    elif score >= 90:
        print("당신의 등급: A")
    elif score >= 80:
        print("당신의 등급: B")
    elif score >= 70:
        print("당신의 등급: C")
    elif score >= 60:
        print("당신의 등급: D")
    else:
        print("재수강 하세요 : F")
else:
    print("잘못 입력 했습니다.")

점수를 입력 하세요 dlkjkldjd

잘못 입력 했습니다.

In [26]:
score.isdigit()

True

In [ ]:
str.isdigit()

In [33]:
# https://pythontutor.com/python-compiler.html#mode=edit

# for 기본형
- for 문은 임의의 리퀀스 자료형의 항목들을 그 시퀀스에 들어있는 순서대로 iteration(반복) 한다.
```python
for <target> in <object>:
    <수행할 문장1>
    <수행할 문장2>
else:
    <수행할 문장3>
```

In [35]:
for target in [2,5,1,3,5]:
    print(target)

2
5
1
3
5

In [ ]:
for target in (2,"hello",1,3,"world"):
    print(target)

In [36]:
for target in "hello":
    print(target)
    print("-")

h
-
e
-
l
-
l
-
o
-

In [37]:
# 1부터 10까지 더해서 출력하는 code를 작성해 보세요 
# 단계1: 1부터 10까지  출력하도록 코딩
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 단계2: result = 0 으로 초기값을 할당하고  result += i 더도록 할당
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

In [47]:
result = 0 
i = 1
result = result + i# 0 + 1 -> 1

In [48]:
i = 2
result = result + i# 1 + 2 -> 3

In [49]:
result

3

In [50]:
i = 3
result = result + i# 1 + 2 -> 3
print(result)

6

In [51]:
i = 4
result = result + i# 1 + 2 -> 3
print(result)

10

In [52]:
i = 5
result = result + i# 1 + 2 -> 3
print(result)

15

In [53]:
i = 6
result = result + i# 1 + 2 -> 3
print(result)

21

In [54]:
i = 7
result = result + i# 1 + 2 -> 3
print(result)

28

In [55]:
i = 8
result = result + i# 1 + 2 -> 3
print(result)

36

In [56]:
i = 9
result = result + i# 1 + 2 -> 3
print(result)

45

In [57]:
i = 10
result = result + i# 1 + 2 -> 3
print(result)

55

In [60]:
result = 0 # 초기화
for i in [1,2,3,4,5,6,7,8,9,10]:
    result = result + i
    print(result)
else:
    print("code")

1
3
6
10
15
21
28
36
45
55
code
code

In [61]:
result = 0 # 초기화
for i in [1,2,3,4,5,6,7,8,9,10]:
    result += i # result = result + i  
    print(result)

1
3
6
10
15
21
28
36
45
55

In [62]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [64]:
type(range(0,10))

range

In [65]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [72]:
list(range(11,1,-2))
# list(range(11,1,-1))

[11, 9, 7, 5, 3]

In [73]:
result = 0 
for i in range(0, 10):
    result += i
print(result)

45

In [76]:
# 문제 
# n 을 입력 받고 입력받은 값이 짝수면 1~n 까지 곱하는 펙토리얼을 구현하고
# n 이 홀수이면 1부터 n까지 더하는 시그마를 구현해보세요 

user_input = int(input("값을 입력하세요 : "))
if user_input % 2 ==0:
    print("짝수")
else:
    print("홀수")

값을 입력하세요 :  11

홀수

In [79]:
list(range(1, user_input+1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [80]:
result = 1
for i in range(1, user_input+1):
    result = result * i
print(result)

39916800

In [81]:
result = 0
for i in range(1, user_input+1):
    result = result + i # result += i
print(result)

66

In [83]:
user_input = int(input("값을 입력하세요 : "))
if user_input % 2 ==0:
    print("짝수")
    result = 1
    for i in range(1, user_input+1):
        result = result * i
else:
    print("홀수")
    result = 0
    for i in range(1, user_input+1):
        result = result + i # result += i
print(result)

값을 입력하세요 :  9

홀수
45

In [84]:
first, sec = (1, 2)

In [88]:
for i in [(1,2), (3,4), (5,6)]:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [90]:
for i,j in [(1,2), (3,4), (5,6)]:
    print("i:", i)
    print("j:", j)
    print("=="*10)

i: 1
j: 2
====================
i: 3
j: 4
====================
i: 5
j: 6
====================

In [91]:
list_1 = [1,2,3,4,5,6,7]
list_2 = ["a","b","c","d","e","f","g"]

In [93]:
list(zip(list_1, list_2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f'), (7, 'g')]

In [94]:
for i,j in zip(list_1, list_2):
    print("i:", i)
    print("j:", j)
    print("=="*10)

i: 1
j: a
====================
i: 2
j: b
====================
i: 3
j: c
====================
i: 4
j: d
====================
i: 5
j: e
====================
i: 6
j: f
====================
i: 7
j: g
====================

In [98]:
list(enumerate(list_2))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f'), (6, 'g')]

In [97]:
for i, j in list(enumerate(list_2)):
    print(i, j)

0 a
1 b
2 c
3 d
4 e
5 f
6 g

# 실습
- 반복문을 이용해 다음과 같이 출력 되도록 작성해 보세요
- 힌트, 빈리스트를 만들고 시작한다.
- 힌트, 반복문, 빈리스트, append

```
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
```

In [99]:
list_1 = []

In [100]:
list_1.append(1)
print(list_1)

[1]

In [101]:
list_1.append(2)
print(list_1)

[1, 2]

In [102]:
list_1.append(3)
print(list_1)

[1, 2, 3]

In [103]:
list_1.append(4)
print(list_1)

[1, 2, 3, 4]

In [104]:
list_1.append(5)
print(list_1)

[1, 2, 3, 4, 5]

In [105]:
list_1 = []
for i in range(1, 6):
    list_1.append(i)
    print(list_1)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [110]:
# scores 를 확인하고 60점 미만인 학생들은 불합격 으로 출력되게 작성해 보세요

# 1번 학생은 불합격
# 2번 학생은 불합격
# 3번 학생은 합격
# 4번 학생은 합격
# 5번 학생은 불합격
# 6번 학생은 합격

scores = [15, 50, 60, 70, 52, 75]
for j,i in enumerate(scores):
    if i >= 60 :
        print(f"{j+1}번 학생은 합격")
    else:
        print(f"{j+1}번 학생은 불합격")

1번 학생은 불합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 합격
5번 학생은 불합격
6번 학생은 합격

In [108]:
scores = [15, 50, 60, 70, 52, 75]
list(enumerate(scores))

[(0, 15), (1, 50), (2, 60), (3, 70), (4, 52), (5, 75)]

In [113]:
j = 1
scores = [15, 50, 60, 70, 52, 75]
for i in scores:
    if i >= 60 :
        print(f"{j}번 학생은 합격")
    else:
        print(f"{j}번 학생은 불합격")
    j = j + 1

1번 학생은 불합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 합격
5번 학생은 불합격
6번 학생은 합격

In [114]:
j = 0
scores = [15, 50, 60, 70, 52, 75]
for i in scores:
    j = j + 1
    if i >= 60:
        print(f"{j}번 학생은 합격")
    else:
        print(f"{j}번 학생은 불합격")

1번 학생은 불합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 합격
5번 학생은 불합격
6번 학생은 합격

In [115]:
scores = [15, 50, 60, 70, 52, 75]
for score in scores:
    print(score)

15
50
60
70
52
75

### 반복문을 이용해서 구구단 계산을 만들어 보세요
- 출력 결과는 다음과 같습니다

```
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
```

In [116]:
user_input = int(input("몇단을 계산 하실건가요? : "))
for i in range(1, 10):
    print(f"{user_input}x{i} = {user_input * i}")

몇단을 계산 하실건가요? :  3

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

```
===== 1단 =====
1x1 = 1
1x2 = 2
1x3 = 3
1x4 = 4
1x5 = 5
1x6 = 6
1x7 = 7
1x8 = 8
1x9 = 9
===== 2단 =====
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
===== 3단 =====
3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
===== 4단 =====
4x1 = 4
4x2 = 8
4x3 = 12
4x4 = 16
4x5 = 20
4x6 = 24
4x7 = 28
4x8 = 32
4x9 = 36
===== 5단 =====
5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
===== 6단 =====
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
===== 7단 =====
7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63
===== 8단 =====
8x1 = 8
8x2 = 16
8x3 = 24
8x4 = 32
8x5 = 40
8x6 = 48
8x7 = 56
8x8 = 64
8x9 = 72
===== 9단 =====
9x1 = 9
9x2 = 18
9x3 = 27
9x4 = 36
9x5 = 45
9x6 = 54
9x7 = 63
9x8 = 72
9x9 = 81
```