# Investor - Flow of Funds - US

- Date: 데이터의 날짜 또는 기간을 나타냅니다.
- Total Equity: 총 주식 펀드(모든 국내 및 해외 주식)의 투자액을 의미합니다.
- Domestic Equity: 국내 주식 펀드의 투자액을 의미합니다. 국내 시장에서 운용되는 주식에 대한 투자를 나타냅니다.
- World Equity: 해외 주식 펀드의 투자액을 의미합니다. 해외 시장에서 운용되는 주식에 대한 투자를 나타냅니다.
- Hybrid: 혼합형 펀드의 투자액을 의미합니다. 주식 및 채권 등 다양한 자산 클래스를 혼합하여 운용하는 펀드에 대한 투자를 나타냅니다.
- Total Bond: 총 채권 펀드(모든 유형의 채권)의 투자액을 의미합니다.
- Taxable Bond: 과세 대상 채권 펀드의 투자액을 의미합니다. 이는 세금이 부과되는 채권에 대한 투자를 나타냅니다.
- Municipal Bond: 시의채 펀드의 투자액을 의미합니다. 지방 정부나 시의 정부가 발행한 채권에 대한 투자를 나타냅니다.
- Total: 총 투자액을 의미합니다. 이는 모든 자산 클래스에 대한 총 투자액을 나타냅니다.
위의 각 칼럼은 주식, 채권 및 혼합형 펀드에 대한 투자액을 날짜별로 기록한 데이터로 보입니다. 각 칼럼은 해당 자산 클래스에 대한 투자를 측정하며, 데이터를 분석하고 시각화하여 투자 동향을 파악할 수 있습니다.

### Step 1. 필요한 librarie들을 import 하세요

In [1]:
import pandas as pd

### Step 2. 다음과 같은 DataSet을 import 하세요 [address](https://raw.githubusercontent.com/myoh0623/dataset/main/weekly.csv).

In [2]:
url = "https://raw.githubusercontent.com/myoh0623/dataset/main/weekly.csv"

### Step 3. df 라는 변수에 DataFrame을 할당하세요

In [4]:
df = pd.read_csv(url)
df.head(3)

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466

### Step 5. Date column을 index로 할당하세요

In [5]:
df.set_index("Date", drop=True, inplace=True)

In [7]:
df.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 6. index의 data type은 무엇인가요?

In [8]:
df.index.dtype

dtype('O')

### Step 7. index를 DatetimeIndex type으로 변경하세요

In [9]:
df.index = pd.to_datetime(df.index)

In [11]:
df.index.dtype
df.index

DatetimeIndex(['2012-12-05', '2012-12-12', '2012-12-19', '2012-12-26',
               '2013-01-02', '2013-01-09', '2014-04-02', '2014-04-09',
               '2014-04-16', '2014-04-23', '2014-04-30', '2014-05-07',
               '2014-05-14', '2014-05-21', '2014-05-28', '2014-06-04',
               '2014-06-11', '2014-06-18', '2014-06-25', '2014-07-02',
               '2014-07-09', '2014-07-30', '2014-08-06', '2014-08-13',
               '2014-08-20', '2014-08-27', '2014-09-03', '2014-09-10',
               '2014-11-05', '2014-11-12', '2014-11-19', '2014-11-25',
               '2015-01-07', '2015-01-14', '2015-01-21', '2015-01-28',
               '2015-02-04', '2015-02-11', '2015-03-04', '2015-03-11',
               '2015-03-18', '2015-03-25', '2015-04-01', '2015-04-08'],
              dtype='datetime64[ns]', name='Date', freq=None)

### Step 8.  frequency 를 월 단위로 변경하고(월말 기준), 각 column의 월단위로 합산값을 구하세요

In [12]:
monthly = df.resample("ME").sum()
monthly.head(10)

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-01-31,3661,-1627,5288,2730,12149,9414,2735,18540
2013-02-28,0,0,0,0,0,0,0,0
2013-03-31,0,0,0,0,0,0,0,0
2013-04-30,0,0,0,0,0,0,0,0
2013-05-31,0,0,0,0,0,0,0,0
2013-06-30,0,0,0,0,0,0,0,0
2013-07-31,0,0,0,0,0,0,0,0
2013-08-31,0,0,0,0,0,0,0,0
2013-09-30,0,0,0,0,0,0,0,0

### Step 9. Step8에서의 결과중 NaN(or 0)으로 채워진 값이 존재하는 row를 삭제 하세요

In [18]:
monthly = monthly[monthly != 0].dropna(axis=0)

In [19]:
monthly.head(3)

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156.0,-23126.0,-3031.0,526.0,9848.0,12613.0,-2765.0,-15782.0
2013-01-31,3661.0,-1627.0,5288.0,2730.0,12149.0,9414.0,2735.0,18540.0
2014-04-30,10842.0,1048.0,9794.0,4931.0,8493.0,7193.0,1300.0,24267.0

### Step 10. step 9의 결과를 이용해 연별 데이터로 변경하세요.(매년 1월 1일 기준)

In [23]:
monthly.resample("YS-DEC").sum()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-01,-22495.0,-24753.0,2257.0,3256.0,21997.0,22027.0,-30.0,2758.0
2013-12-01,330.0,-44689.0,45021.0,19570.0,59890.0,44994.0,14896.0,79787.0
2014-12-01,15049.0,-10459.0,25508.0,7280.0,26028.0,17986.0,8041.0,48357.0

In [22]:
monthly.resample("YS-JAN").sum()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-01-01,-26156.0,-23126.0,-3031.0,526.0,9848.0,12613.0,-2765.0,-15782.0
2013-01-01,3661.0,-1627.0,5288.0,2730.0,12149.0,9414.0,2735.0,18540.0
2014-01-01,330.0,-44689.0,45021.0,19570.0,59890.0,44994.0,14896.0,79787.0
2015-01-01,15049.0,-10459.0,25508.0,7280.0,26028.0,17986.0,8041.0,48357.0

In [32]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-resampling

In [33]:
# https://pandas.pydata.org/docs/user_guide/timeseries.html