## f1의 결측치를 채운 후 age 컬럼의 중복 제거 전과 후의 'f1' 중앙값 차이를 구하시오 
### - 결측치는 f1의 데이터 중 10번째로 큰 값으로 채움
### - 중복 데이터 발생시 뒤에 나오는 데이터를 삭제함
### - 최종 결과값은 절대값으로 출력

- 데이터셋 : basic1.csv
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.tail()

       id    age city    f1  f2   f3    f4         f5
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

In [3]:
# f1데이터에서 10번째 큰 값으로 결측치를 채움
top10 = df['f1'].sort_values(ascending=False).iloc[9]
print(top10)
df['f1'] = df['f1'].fillna(top10)

88.0

In [4]:
# 중복 제거 전 중앙 값
result1 = df['f1'].median()
result1

77.5

In [5]:
# 중복 제거
print(df.shape)
df = df.drop_duplicates(subset=['age'])
print(df.shape)

(100, 8)
(71, 8)

In [6]:
# 중복 제거 후 중앙 값
result2 = df['f1'].median()
result2

77.0

In [7]:
# 차이 (절대값)
print(abs(result1 - result2))

0.5